<template name="activeGroupView">
	{{# if activeGroup}}
	{{# with activeGroup}}
	<div class="row-fluid">
		<div class="span12">
			<h1>{{groupname}}</h1>

			<ul class="nav nav-tabs">
				{{# each groupAction}}
				<li class="{{activeView}}">
					<a href="#" class="view">{{name}}</a>
				</li>
				{{/each}}
			</ul>

			{{#if gameIsActive}}
			{{> gameView}}
			{{else}}
			{{#if manageIsActive}}
			{{> manageView}}
			{{else}}
			{{> dashboardView}}
			{{/if}}
			{{/if}}
		</div>
	</div>
	{{/with}}
	{{/if}}
</template>