<template name="createGroup">
	<div class="page-header">
		<h1>Create Group</h1>
	</div>
	<div class="row-fluid createGroupCont">
		<ul class="thumbnails">
			<li>			
				<input id="groupName" class="input input-large" placeholder="Groupname"/>
			</li>
			<li>			
				<button type="submit" id="createGroup" class="thumbnail action">{{strings "CREATE_GROUP"}}</button>
			</li>
			<li>
				<button type="button" id="cancel" class="thumbnail negative-action">Cancel</button>
			</li>
		</ul>
	</div>

</div>
</template>