<template name="gameView">
	<div class="game">
		<div class="row-fluid">
			<div class="span3">
				<ul class="thumbnails">
					<li>
						<button id="startgame" class="thumbnail action">{{strings "NEW_GAME_BTN"}}</button>
					</li>
				</ul>
			</div>
			<div class="span9 question">
				{{#if personExist}}
				{{#if activeGame}}
				<div class="span4">
					<h4>Tell Bob the name!</h4>
				</div>
				<div class="offset3 span5">
					{{#with game}}
					<h5>{{num_correct}} points after {{num_answered}}/{{num_total}} persons.</h5>
					{{/with}}
				</div>
				<ul class="thumbnails">
					<li class="thumbnail">
						<img src="{{imageRaw}}"/>
					</li>
				</ul>
				<input id="nameInput" type="text" placeholder="{{strings "GAME_NAME_INPUT"}}">
				<button id="answer"class="btn" type="button">{{strings "GAME_ANSWER_BTN"}}</button>

				{{else}}
				{{#if hasEndedGame}}
				{{#with game}}
				{{> endGame}}
				{{/with}}
				{{else}}
				{{strings "NO_ACTIVE_GAME_MSG"}}
				{{/if}}
				{{/if}}
				{{else}}
				{{strings "NO_PEOPLE_IN_GROUP_MSG"}}
				{{/if}}
			</div>
		</div>
	</div>
</template>