<template name="login">
	{{#if showLogin}}
	<div class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Sign in</h3>
		</div>
		<div class="modal-body">
			<input type="text" id="email" class="input input-large" placeholder="Email"/>
			<input type="password" id="password" class="input input-large" placeholder="Password"/>
		</div>
		<div class="modal-footer">
			<a href="#" id="login" class="btn btn-primary">Sign in</a>
		</div>
	</div>
	{{/if}}
</template>