<template name="registerModal">
	{{#if showRegisterModal}}
	<div class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Register at Bob's</h3>
		</div>
		<div class="modal-body">
			<input type="text" id="email" class="input input-large" placeholder="Email"/>
			<div class="row-fluid">
				<input type="password" id="password" class="input input-large" placeholder="Password"/>
				<input type="password" id="pwVerify" class="input input-large" placeholder="Verify password"/>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#" id="register" class="btn btn-primary {{enableRegister}}">Register</a>
		</div>
	</div>
	{{/if}}
</template>